$sidebar-bg-color: #c0c0c4;
$navbar-color: #A0A0A6;
$child-background-color: #DFDFE1;

.pro-sidebar{
  height: 100vh !important;
}

#logo{
  height: 90px;
  margin: 15px;
}

.color-nav{
  background-color: $navbar-color;
  border-bottom-style: solid;
  border-width: 1px;
}

.MenuItem{
  color: #000 !important;
}

.ContainerBackground{
  //background-color: #EAEAEB;
  padding: 10px;
}

.Card{
  //background-color: #EAEAEB;
  padding: 10px;
}